# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build & Test Generated
build/
fbsimctl/cli-tests/executable-under-test
DerivedData

## Filesystem
*.DS_Store

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
xcuserdata/

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa

## Python
*.pyc

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build
Carthage/Checkouts
fbsimctl/Carthage/Build
fbsimctl/Carthage/Checkouts
fbsimctl/cli-tests/supports_metal

output/
.clang-format

# Files copied from Xcode
Fixtures/Source/FBTestRunnerApp/Frameworks
out
