// Import Shared & Framework Configuration
#include "../Configuration/Shared.xcconfig"
#include "../Configuration/Framework.xcconfig"

// Target-Specific Settings
INFOPLIST_FILE = $(SRCROOT)/FBDeviceControl/FBDeviceControl-Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.facebook.FBDeviceControl
PRODUCT_NAME = FBDeviceControl
