// Import Shared & Framework Configuration
#include "../../Configuration/Shared.xcconfig"

// Target Specific Settings
INFOPLIST_FILE = $(PROJECT_DIR)/FBXCTestKitTests/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.facebook.FBXCTestKitTests
PRODUCT_NAME = FBXCTestKitTests
