// Import Shared Configuration
#include "../Configuration/Shared.xcconfig"

// Target-Specific Settings
INFOPLIST_FILE = $(SRCROOT)/FBSimulatorControlTests/FBSimulatorControlTests-Info.plist;
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.facebook.FBSimulatorControlTests
PRODUCT_NAME = FBSimulatorControlTests
