// Adding 'Versioning' to the Framework will ensure that Duplicate Symbol Scenarios do not arise when the Frameworks are independently distributed
// Since FBSimulatorControl/FBDeviceControl both embed XCTestBootstrap & FBControlCore, the versioning of these Frameworks will ensure that dyld
// is aware of the embedded Frameworks in these Targets being identical and won't attempt to load them twice.

CURRENT_PROJECT_VERSION = 1
DEFINES_MODULE = YES;
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
FRAMEWORK_VERSION = A
VERSIONING_SYSTEM = apple-generic
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path @loader_path/Frameworks
