// The config for the Shimulator Dylib

CURRENT_PROJECT_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_COMPATIBILITY_VERSION = 1
PRODUCT_NAME = Shimulator
EXECUTABLE_PREFIX = lib
SDKROOT = iphonesimulator
IPHONEOS_DEPLOYMENT_TARGET = 11.0
COPY_PHASE_STRIP = NO
CODE_SIGN_IDENTITY = -  // Simulator Shims must be CodeSigned, to work for injection.
