// Import Shared Configuration
#include "../Configuration/Shared.xcconfig"

// Target-Specific Settings
INFOPLIST_FILE = $(SRCROOT)/FBControlCoreTests/FBControlCoreTests-Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.facebook.FBControlCoreTests;
PRODUCT_NAME = FBControlCoreTests
// Only expose PrivateHeaders to Framework targets. Framework targets never expose PrivateHeader imports themselves.
HEADER_SEARCH_PATHS = $(inherited) $(SRCROOT)/PrivateHeaders
