// Import Shared Configuration
#include "../Configuration/Shared.xcconfig"

// Target-Specific Settings
CURRENT_PROJECT_VERSION = 1
DEFINES_MODULE = YES;
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
FRAMEWORK_VERSION = A
INFOPLIST_FILE = FBControlCore/FBControlCore-Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.facebook.FBControlCore
PRODUCT_NAME = FBControlCore
VERSIONING_SYSTEM = apple-generic